In [15]:
import flask
import difflib
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [16]:
app = flask.Flask(__name__)

In [17]:
df = pd.read_csv("movie_dataset.csv")
df.head(3)

   index  ...        director
0      0  ...   James Cameron
1      1  ...  Gore Verbinski
2      2  ...      Sam Mendes

[3 rows x 24 columns]

In [18]:
df.columns

Index(['index', 'budget', 'genres', 'homepage', 'id', 'keywords',
       'original_language', 'original_title', 'overview', 'popularity',
       'production_companies', 'production_countries', 'release_date',
       'revenue', 'runtime', 'spoken_languages', 'status', 'tagline', 'title',
       'vote_average', 'vote_count', 'cast', 'crew', 'director'],
      dtype='object')

In [19]:
features = ['keywords','genres','cast','director','runtime','spoken_languages']
for feature in features:
	df[feature] = df[feature].fillna('')

In [20]:
def combine_feature(row):
	try:
		return (row['keywords'] + ' ' +  row['genres'] + ' ' + row['cast'] + ' ' +  row['director'] + ' ' +  str(row['runtime']) + ' ' +  row['spoken_languages'])
	except:
		print("Error:",row)

In [21]:
df['combined_features'] = df.apply(combine_feature,axis = 1)
print(df['combined_features'].head())

0    culture clash future space war space colony so...
1    ocean drug abuse exotic island east india trad...
2    spy based on novel secret agent sequel mi6 Act...
3    dc comics crime fighter terrorist secret ident...
4    based on novel mars medallion space travel pri...
Name: combined_features, dtype: object

In [22]:
cv = CountVectorizer()
count_matrix = cv.fit_transform(df['combined_features'])
cosine_sim = cosine_similarity(count_matrix)

In [23]:
def titlefromindex(index):
	return df[df['index'] == index].title.values[0]

def get_index_from_title(title):
	return df[df['title'] == title].index.values[0]

In [24]:
def recommend(movie):
    movie_index = get_index_from_title(movie)
    
    #Get a list of similar movies in descending order of similarity score
    similarmovies = list(enumerate(cosine_sim[movie_index]))
    sorted_similarmovies = sorted(similarmovies,key=lambda x:x[1],reverse=True)
    
    #Print titles of first count movies
    count = 0
    for movie in sorted_similarmovies:
        count += 1
        if count == 1:
            continue
        if count != 10:
            print(' '*8 + titlefromindex(movie[0]))
        else:
            break

In [ ]:
@app.route('/', methods=['GET', 'POST'])
def main():
    if flask.request.method == 'GET':
        return(flask.render_template('index.html'))
            
    if flask.request.method == 'POST':
        m_name = flask.request.form['movie_name']
        m_name = m_name.title()
#        check = difflib.get_close_matches(m_name,all_titles,cutout=0.50,n=1)
        if m_name not in all_titles:
            return(flask.render_template('negative.html',name=m_name))
        else:
            result_final = get_recommendations(m_name)
            names = []
            dates = []
            for i in range(len(result_final)):
                names.append(result_final.iloc[i][0])
                dates.append(result_final.iloc[i][1])

            return flask.render_template('positive.html',movie_names=names,movie_date=dates,search_name=m_name)

if __name__ == '__main__':
    app.run()

 * Serving Flask app "__main__" (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: off

 * Running on http://127.0.0.1:5000/ (Press CTRL+C to quit)